@import url('https://fonts.googleapis.com/css?family=Enriqueta|Roboto');

a, button, h1, h2, h3, h4, h5, input, label, nav, span {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'BebasNeueRegular', serif, sans-serif;
}

header h1 span {
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, footer, label {
    color: rgb(104, 104, 104);
}

main h1{
    font-size: 2rem;
    letter-spacing: 0.03em;
    position: relative;
    padding: 0 0 18px;
    margin: 0 0 32px;
    margin-bottom: 4rem;
}

main h1::after{
    content: "";
    width: 30px;
    border-top: 1px solid #a1a1a1;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

#contacto h1::after, #sucursales h1::after{
    border-top: 1px solid #cfcfcf;
}

a {
    text-decoration: none;
    color: grey;
    transition: 0.4s;
}

.primary-btn {
    color: aliceblue;
}

.secundary-btn {
    color: white;
}


