@import url('https://fonts.googleapis.com/css?family=Enriqueta|Roboto');

a, button, h1, h2, h3, h4, h5, input, label, nav {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'BebasNeueRegular', serif, sans-serif;
}

header h1 span {
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, footer, label {
    color: rgb(104, 104, 104);
}

a {
    text-decoration: none;
    color: grey;
    transition: 0.4s;
}

.primary-btn {
    color: aliceblue;
}

.secundary-btn {
    color: white;
}


