body {
    display: grid;
    min-height: 100vh;
    overflow: auto;
    grid-template-rows: min-content auto min-content;
    margin: 0;
}

/* Header Stylesheets */
header {
    grid-row: 1;
    padding: 20px 40px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header img {
    margin-bottom: 1.5rem;
}

.header h1 {
    text-align: center;
    align-self: center;
    margin: auto;
    margin-bottom: 1.5rem;
}

.menu {
    padding: 0;
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu li {
    margin-bottom: 1rem;
    min-width: 100px;
    width: 18%;
    padding: 12px;
    text-align: center;
    list-style-type: none;
    color: grey;
    border: solid 2px #FFF;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.6s;
}

.menu li:hover {
    background-color: #639ad7;
    color:white;
    border: solid 2px #639ad7;
}

/* Main Stylesheets */
main {
    height: auto;
    min-height: min-content;
    grid-row: 2;
    padding: 0 20px;
}

.main {
    height: auto;
    min-height: min-content;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 5%;
    
}

form {
    grid-column: 2;
    margin: auto;
}

.form {
    width: 405px;
    display: grid;
    align-content: center;
    clear:both;
}

.form h1 {
    grid-row: 1;
}

.form hr {
    grid-row: 2;
}

#uname-label {
    grid-row: 3;
}

#uname-input {
    grid-row: 4;
}

#pass-label {
    grid-row: 5;
}

#pass-input {
    grid-row: 6;
}

.login-buttons {
    grid-row: 7;
    margin-top: 10px;
}

.register-buttons {
    margin-top: 10px;
}

.login-buttons a {
    margin: auto;
}

input {
    margin-top: 4px;
    margin-bottom: 20px;
}

/* Footer Stylesheets */
footer {
    grid-row: 3;
    margin: auto;
}